body {
  background-image: url(images/bg-universe_w_320.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: white;
}
.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}
h1.header {
  font-weight: 900;
  font-size: 4rem;
  word-spacing: 1rem;

  text-shadow: 2px 2px 0 #000;
}
.tagline {
  font-weight: 300;
  font-size: 2rem;
  word-spacing: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
}
@media screen and (min-width: 853px) {
  body {
    background-image: url(images/bg-universe_2x_w_924.jpg);
  }
  h1.header {
    font-size: 2rem;
  }
  .tagline {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1228px) {
  body {
    background-image: url(images/bg-universe_2x_w_1388.jpg);
  }
  h1.header {
    font-size: 3rem;
  }
  .tagline {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1440px) {
  body {
    background-image: url(images/bg-universe_2x_w_1440.jpg);
  }
  h1.header {
    font-size: 4rem;
  }
  .tagline {
    font-size: 2rem;
  }
}
