html {
  font-size: 20px;
}
.boxes {
  border: 3px solid grey;
  /* set the parent container to relative  */
  position: relative;
}
body {
  /* set the height to 2x viewport, the fixed element can be floating. */
  height: 200vh;
}
.box {
  width: 5rem;
  height: 5rem;
}
.box-one {
  background-color: gold;
}
.box-two {
  background-color: green;
  /* ---when parent container position absolute;--- */
  /* relative position, relative to element normal position */
  /* position: relative;
  right: -2rem;
  top: -4rem; */
  /* ---absolute position, relative to parent---   */
  /* fixed position, relative to viewport */
  width: 100%;
  position: fixed;
  top: 0;
  /* move backward to screen  */
  /* z-index: -1; */
}
.box-three {
  background-color: yellow;
}
